[submodule "wp-content/plugins/wpsvse-blog"]
	path = wp-content/plugins/wpsvse-blog
	url = git@github.com:wpsvse/wpsvse-blog.git
[submodule "wp-content/themes/wpsvse"]
	path = wp-content/themes/wpsvse
	url = git@github.com:wpsvse/wpsvse.git
[submodule "wp-content/plugins/wpsvse-slider"]
	path = wp-content/plugins/wpsvse-slider
	url = git@github.com:wpsvse/wpsvse-slider.git
[submodule "wp-content/plugins/wpsvse-mark-resolved"]
	path = wp-content/plugins/wpsvse-mark-resolved
	url = git@github.com:wpsvse/wpsvse-mark-resolved.git
[submodule "wpsv.se/wp-content/themes/wpsvse"]
	path = wpsv.se/wp-content/themes/wpsvse
	url = git@github.com:wpsvse/wpsvse.git
